<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-whitelist"
      version="1.3.4">
    <name>Whitelist</name>
    <description>Cordova Network Whitelist Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,whitelist,policy</keywords>

    <engines>
      <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Echo" >
                <param name="android-package" value="org.apache.cordova.Echo"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
		 
		<framework src="com.google.code.gson:gson:2.8.5" />
		<framework src="com.android.support:appcompat-v7:28.0.0" />
		<framework src="com.android.support.constraint:constraint-layout:1.1.3" />
		<framework src="com.android.support:support-v4:28.0.0" />
		
        <source-file src="src/android/Echo.java" target-dir="src/org/apache/cordova/plugin" />
		
    </platform>

</plugin>
